body {
    background-color: mistyrose;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #885df1;
}

.container {
    margin: 30px auto;
    max-width: 500px;

}

header {
    margin-bottom: 28px;
}

h1 {
     text-align:center;
     font-weight: 800;
     font-size: 35px;
     line-height: 1.5;
     color: indigo;
}

.form-container {
    background-color: aquamarine;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
    padding: 30px;

}

form {
    display: flex;
    
}

.hint {
    line-height: 1.5;
    margin-top: 4px;
    opacity: 0.5;
    font-size: 12px;
    font-weight: bolder;
    
}

.instructions {
    padding: 14px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 70%;
    font-size: 14px;
    border-radius: 50px;
    line-height: 18px;
    color: darkblue;
}

.submit-button {
    margin-left: 8px;
    background: #885df1;
    color: white;
    border: none;
    width: 130px;
    font-size: 14px;
    border-radius: 50px;
    padding: 12px 18px;
}

.tips {
    font-size: 16px;
    background-color: white;
    padding: 18px;
    line-height: 2;
    border-left: 2px solid #885df1;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
    

}
.hidden {
    display: none;
}

.tips strong {
    color: #885df1;
}

 footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;

}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}